<div class="flex flex-col items-center mt-10">
    <h2 class="text-3xl font-bold mb-6 text-center text-accent">
        Register Authority
    </h2>

    <div class="mb-3">
        <input
            type="text"
            [(ngModel)]="authorityAddress"
            placeholder="Enter authority address"
            class="input input-bordered input-primary w-80"
        />
    </div>

    <div class="mb-3">
        <input
            type="text"
            [(ngModel)]="name"
            placeholder="Enter authority name"
            class="input input-bordered input-primary w-80"
        />
    </div>

    <button
        (click)="registerAuthority()"
        class="btn btn-primary w-80"
        [disabled]="!authorityAddress || !name"
    >
        Register Authority
    </button>

    <div *ngIf="successMessage">
        <div role="alert" class="alert alert-success mt-6">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>
            <span>{{ successMessage }}</span>
        </div>
    </div>
    <div *ngIf="errorMessage">
        <div role="alert" class="alert alert-error mt-6">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>
            <span>{{ errorMessage }}</span>
        </div>
    </div>
</div>
