<section class="p-8">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-4xl font-bold text-accent mb-4">
            Welcome to Carrier Negotiation App
        </h1>
        <p class="text-lg">
            This app allows companies to negotiate carrier rates and create
            shipments efficiently.
        </p>
        <div class="mt-6">
            <a routerLink="/shipment" class="btn btn-primary"
                >Start a Shipment</a
            >
            <a routerLink="/carriers" class="btn btn-secondary ml-4"
                >View Carriers</a
            >
        </div>
    </div>
</section>
