<div class="navbar bg-base-100">
    <div class="flex-1">
        <a routerLink="/home" class="btn btn-ghost text-xl">Package Tracker</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a
                    routerLink="/register-package"
                    class="btn btn-ghost text-white"
                    >Register Package</a
                >
            </li>
            <li>
                <a
                    routerLink="/register-authority"
                    class="btn btn-ghost text-white"
                    >Register Authority</a
                >
            </li>
            <li>
                <a
                    routerLink="/generate-qrcode"
                    class="btn btn-ghost text-white"
                    >Generate QR Code</a
                >
            </li>
            <li>
                <a
                    routerLink="/scan-package"
                    class="btn btn-ghost text-white"
                    >Scan Package</a
                >
            </li>
        </ul>
    </div>
</div>
